<table id="example">
    <thead>
        <tr>
            <th>Id:</th>
            <th>Jméno:</th>
            <th>Délka:</th>
            <th>Výška:</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
