<span class="no-wrap">
    {for $i=0;$i<$max;$i=$i+1}
        <span style="color:{if $i < $rate}#3a82bf{else}#d3d3d3{/if};" class="glyphicon glyphicon-star"
              aria-hidden="true"></span>
    {/for}
</span>
