{% extends 'base.html.twig' %}

{% block title %}Highline mapa{% endblock %}

{% block body %}
<div
    data-controller="map"
    data-map-data-url-value="{{ path('app_highline_map_data') }}"
    data-map-icon-url-value="{{ asset('images/leaflet/marker-icon.png') }}"
    data-map-icon-retina-url-value="{{ asset('images/leaflet/marker-icon-2x.png') }}"
    data-map-shadow-url-value="{{ asset('images/leaflet/marker-shadow.png') }}"
    class="highline-map"
></div>
{% endblock %}
