{% extends 'base.html.twig' %}

{% block title %}Můj profil{% endblock %}

{% block body %}
    {% set user = app.user %}
    <div class="form-page form-page--md">
        <div class="card">
            <div class="card-body p-4">
                <h1 class="h4 mb-3">Můj profil</h1>

                <p><a href="{{ path('app_user_diary', {id: user.id}) }}">Můj deník →</a></p>

                

                
            </div>
        </div>
    </div>
{% endblock %}
