{% extends 'base.html.twig' %}

{% block title %}Email odeslán{% endblock %}

{% block body %}
    <div class="auth-page">
        <div class="auth-card">
            <h1>Zkontroluj schránku</h1>

            <p>
                Pokud na zadaný email existuje účet, právě jsme poslali zprávu s odkazem pro obnovu hesla.
                Odkaz je platný {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p>
                Email nepřišel? Mrkni do spamu, nebo
                <a href="{{ path('app_forgot_password_request') }}">zkus to znovu</a>.
            </p>

            <div class="auth-links">
                <a href="{{ path('app_login') }}">Zpět na přihlášení</a>
            </div>
        </div>
    </div>
{% endblock %}
