{block #title}Přidat highline{/block}

{block content}
    <ol class="breadcrumb mt-10">
        <li><a n:href="Highlines:default"><i class="fas fa-book"></i>&nbsp;Highline Book</a></li>
        <li class="active">Přidat highline</li>
    </ol>
    {include '../includes/highlineFormMap.latte'}
    {control newHighlineForm}
{/block}
