<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Slack.cz - obnova hesla</title>
</head>
<body>
<p>Milá lajnerko, milý lajnere</p>
<br>
<p>tvoje nové heslo je <i>{$password}</i> .</p>
<p>Po <a href="{link //Sign:in}">přihlášení</a> si ho můžeš změnit (Profil -> Upravit profil).</p>
<br>
<p>Děkujeme ti za přízeň a na viděnou na lajně!</p>
<p>Tým Slack.cz</p>
</body>
</html>