{block #title}
Administrace | Editace tagu
{/block}

{block #head}
{/block}

{block content}
<ol class="breadcrumb">
  <li><a n:href="Admin:pages">Tagy</a></li>
  <li class="active">Nový tag</li>
</ol>
{control tagForm}
{/block}
