{block #title}
Editace rekordů
{/block}

{block #head}

{/block}

{block content}

{control rekordyForm}

{/block}

{block right}
<strong class="h">INFO</strong>
<div class="box">Délky musí být celé číslo a jsou zadávány v metrech. Jednotka se nepíše.</div>
{/block}
